@mixin responsive($screenWidth) {
  @media (max-width: $screenWidth) {
    @content;
  }
}

@mixin style-btn($height, $bg, $colorText) {
  display: inline-block;
  height: $height;
  line-height: $height;
  background-color: $bg;
  color: $colorText;
  border-radius: 6px;
  padding: 0 5rem;
  font-size: 1.6rem;
  font-weight: bold;

  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $colorText;
    color: $bg;
  }
}
